<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{% block title %}ALI-Express{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='logo.ico') }}">
</head>

<body>
    {% with messages = get_flashed_messages(with_categories=True) %}
    {% if messages %}
    {% for category, msg in messages %}
    <div class="flash-message {{ category }}">
        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
        {{ msg }}
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}

    <div class="container">
        <h1>{% block header %}{% endblock %}</h1>
        {% block content %}{% endblock %}
    </div>
</body>

</html>