<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{% block title %}ALI-Express{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='logo.ico') }}">
</head>

<body>
    {% with messages = get_flashed_messages(with_categories=True) %}
    {% if messages %}
    {% for category, msg in messages %}
    <div class="flash-message {{ category }}">
        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
        {{ msg }}
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}

    <div class="container">
        {% if current_user.is_authenticated %}
        <div class="school-bar">
            <span>{{ current_user.naam }}</span>
            <a href="{{ url_for('logout') }}" class="logout-link">Uitloggen</a>
        </div>
        {% endif %}
        <div class="stepper">
            <div class="step {% if current_step > 1 %}done{% elif current_step == 1 %}active{% endif %}">
                <span>Schoolinformatie<br>uploaden</span>
            </div>
            <div class="step {% if current_step > 2 %}done{% elif current_step == 2 %}active{% endif %}">
                <span>Groepen naartoe<br>bepalen</span>
            </div>
            <div class="step {% if current_step > 3 %}done{% elif current_step == 3 %}active{% endif %}">
                <span>Voorkeuren <br>doorgeven</span>
            </div>
            <div class="step {% if current_step > 4 %}done{% elif current_step == 4 %}active{% endif %}">
                <span>Niet<br>samen</span>
            </div>

            <div class="step {% if current_step > 5 %}done{% elif current_step == 5 %}active{% endif %}">
                <span>Leerlingen<br>indelen</span>
            </div>
            <div class="step {% if current_step > 6 %}done{% elif current_step == 6 %}active{% endif %}">
                <span>Resultaat<br> bekijken</span>
            </div>
            <div class="step {% if current_step > 7 %}done{% elif current_step == 7 %}active{% endif %}">
                <span>Klaar!</span>
            </div>
        </div>
        <h1>{% block header %}{% endblock %}</h1>
        {% block content %}{% endblock %}
    </div>
</body>

</html>