{% extends "base.html" %}
{% set current_step = 0 %}
{% block header %}Welkom bij het ALI Express{% endblock %}

{% block content %}
<div class="homepage">

    <section class="intro">
        <p>
            ALI Express helpt scholen om leerlingen op een slimme manier in groepen in te delen.</p>
        <p> Handmatig een goede groepsindeling maken kan heel tijdrovend en ingewikkeld zijn, met allerlei wensen en
            regels om rekening mee te houden.
            ALI Express neemt dat werk voor je uit handen door in een paar simpele stappen de beste groepen samen te
            stellen.</p>
        <p>
            Het houdt bijvoorbeeld rekening met wie bij elkaar wil zitten of juist niet, het aantal jongens en meisjes
            en voorkomt dat oude kliekjes blijven hangen.
            Zo krijg je snel groepen waar iedereen beter in past. </p>
    </section>
    <div class="step-navigation">
        <a href="{{ url_for('fillin') }}" class="button next-step">Start →</a>
    </div>
    <div class="instructions-box">
        <h2>Over ALI Express</h2>
        Deze pagina helpt je stapsgewijs door het complexe proces van leerlingen verdelen over groepen.
        Daarbij moet rekening gehouden met zoveel wensen, en onmogelijkheden en balansen, dat de computer dat
        sneller kan dan een mens. Op mijn computer duurt het ongeveer 2 minuten om 45 leerlingen te verdelen.
        Bijkomend voordeel: je weet zeker dat het - geziende ingegeven wensen - de best mogelijke indeling is.
        Er komt een rapport uit waar de groepsindeling staat, maar ook informatie over de balans in de klassen
        en welke leerling hoe tevreden is en waarom.
        <br>
        Omdat het snel gaat, kun je je daarna altijd makkelijk nog realiseren dat het niet helemaal is wat je zocht,
        de wensen aanpassen die je toch impliciet blijkt te hebben en nogmaals runnen.

        <h3>ALI Express houdt rekening met allerlei verschillende factoren</h3>
        <p>De groepsindeling is complex omdat er een balans moet worden gevonden tussen klassenbalans
            en tevreden leerlingen. ALI Express weegt die allemaal af:
        <h4>Klassenbalans</h4>
        <li>Groepsgroottes van de nieuwe groepen</li>
        <li>Groepsgroottes van de nieuwe jaarlaag</li>
        <li>Balans jongens/meisjes in de nieuwe groep</li>
        <li>Balans jongens/meisjes in de nieuwe groep per jaarlaag</li>
        <li>Geen kliekjes uit vorige groep</li>
        <li>Geen kliekjes per jongen/meisjes uit zelfde vorige groep</li>
        <li>Leerlingen die niet bij elkaar moeten, bv. vanuit dynamiek, of zorgleerling of andere redenen</li>
        <h4>Tevreden leerlingen</h4>
        <li>Met wie een leerling in de groep wil zitten</li>
        <li>Met wie een leerling liever niet in de groep wil zitten</li>
        <li>In welke volgende groep de leerling juist wel of liever niet terecht wil komen</li>
        <li>Belang van de wens: wil de leerling het heel graag of is het meer een bonusje</li>
        <li> In welke groep een leerling niet terecht mag komen (bv. vanwege een oudere broer of zus)</li>
        <li> Leerling die we in ieder geval een minimale tevredenheid willen geven (bv. als sociaal-emotioneel steuntje
            in de rug)</li>
        </p>
        <h3>Hoe werkt het?</h3>
        ALI Express probeert alle leerlingen zo tevreden mogelijk te maken.
        <li>Tevredenheid betekent dat de eerste vervulde wens voor een leerling heel zwaar weegt,
            de tweede iets minder, de derde nog iets minder, etc.</li>
        <li>Vervolgens probeert ALI Express de minst tevreden leerling zo tevreden mogelijk te maken,
            zodat iedereen blij is. Vervolgens wordt de eennaminst tevreden leerling zo tevreden mogelijk gemaakt,
            en ga zo maar door. Liever iedereen een beetje tevreden dan 1 leerling heel blij en een ander heel
            ontevreden! </li>
        <li>ALI Express gebruikt hiervoor een optimalisatietechniek die bewezen de beste oplossing geeft.</li>
    </div>

</div>
{% endblock %}