{% extends "base.html" %}
{% set current_step = 4 %}
{% block header %}Wie gaan er niet samen?{% endblock %}

{% block content %}


<div class="instructions-box">
Op deze pagina kan worden aangegeven wie er helemaal niet of niet in te grote groepen bij elkaar
mogen. Je kunt hier denken aan kinderen die elkaar negatief versterken of zorgleerlingen die je wilt scheiden
om passende aandacht te kunnen geven. Houd er rekening mee dat eisen die je hier invult, de groepsindeling
moeilijker maken en daardoor zullen leiden tot een lagere tevredenheid.

Alle namen moeten voorkomen in het voorkeuren-bestand.
Als je bijvoorbeeld twee leerlingen niet bij elkaar wilt, vul je die namen in, en
max_aantal_samen 1: ze mogen dan niet samen in een groep.
Je kunt ook de 7 zorgleerlingen kunnen invoeren en dan aangeven dat er daarvan maximaal 2 in een groep mogen.
</div>
{% endblock %}