{% extends "base.html" %}
{% set current_step = 5 %}

{% block title %}ALI-Express{% endblock %}
{% block header %}Groepsindeling aan het uitrekenen...{% endblock %}

{% block content %}
<p>ALI Express werkt in drie stappen:</p>
<ol>
    <li>Bepalen hoeveel balansruimte nodig is zodat elke leerling minstens één wens krijgt</li>
    <li>De groepsbalans zo strak mogelijk instellen binnen die ruimte</li>
    <li>De leerlingtevredenheid maximaliseren</li>
</ol>
<div id="logs"></div>
<div class="loading-spinner" style="display: none;"></div>

<script>
    setInterval(() => {
        fetch("/status")
            .then(r => r.json())
            .then(data => {
                console.log(data.status_studentdistribution)
                document.getElementById("logs").innerHTML =
                    data.logs.map(line => `<p>${line}</p>`).join("");
                if (data.status_studentdistribution === "running") {
                    document.querySelector('.loading-spinner').style.display = 'block';

                }
                else if (data.status_studentdistribution === "done") {
                    document.querySelector('.loading-spinner').style.display = 'none';
                    window.location.href = "/result";
                } else if (data.status_studentdistribution === "error") {
                    document.querySelector('.loading-spinner').style.display = 'none';
                            fetch("/handle-error", {
                                method: "POST",
                                headers: { "Content-Type": "application/json" },
                                body: JSON.stringify({ message: data.message }),
                            }).then(() => {
                                window.location.href = "/not_together";
                            });

                }

            });
    }, 1000);
</script>
{% endblock %}