{% extends "base.html" %}
{% set current_step = 4 %}

{% block header %}Sociogram{% endblock %}

{% block content %}
{{ plotly_div | safe }}
<div class="instructions-box">
    In deze pagina kun je het sociogram bekijken en onderzoeken. Het is een interactieve
    pagina, waarbij je kunt inzoomen door een vak te selecteren, weer teruggaan door op de thuisknop
    te drukken of als plaatje downloaden via het fototoestel.<br>

    Elke leerling is zo dicht mogelijk bij zijn eigen vrienden weergegeven. De grootte van elke
    bol is gerelateerd aan de populariteit van die leerling. De dikte van de pijlen is gerelateerd
    aan de sterkte van de wens. Een rode pijl betekent dat de leerling liever niet bij die andere leerling
    in de groep zit.
</div>
{% endblock %}