{% extends "base.html" %}
{% set current_step = 2 %}

{% block title %}ALI-Express{% endblock %}
{% block header %}Upload de input{% endblock %}

{% block content %}
<form method="post" enctype="multipart/form-data">
    <label>Voorkeuren en wensen van leerlingen:</label><br>
    <input type="file" name="preferences" accept=".xlsx" required><br><br>

    <label>Ontvangende groepen</label><br>
    <input type="file" name="groups_to" accept=".xlsx" required><br><br>

    <label>Niet samen</label><br>
    <input type="file" name="not_together" accept=".xlsx" required><br><br>

    <fieldset>
        <div class="form-group">

            <label for="max_diff_n_students_total">Maximale verschil totale groepsgrootte:</label>
            <input type="number" id=max_diff_n_students_total" name="max_diff_n_students_total" min="1"
                value="{{ session.get('config', {}).get('max_diff_n_students_total', 2) }}" required><br>
        </div>
        <div class="form-group">

            <label for="max_diff_n_students_year">Maximale verschil groepsgrootte nieuwe jaarlaag:</label>
            <input type="number" id="max_diff_n_students_year" name="max_diff_n_students_year" min="1"
                value="{{ session.get('config', {}).get('max_diff_n_students_year', 1) }}" required><br>
        </div>
        <div class="form-group">

            <label for="max_imbalance_boys_girls_total">Maximale verschil jongens/meisjes totale groep</label>
            <input type="number" id="max_imbalance_boys_girls_total" name="max_imbalance_boys_girls_total" min="1"
                value="{{ session.get('config', {}).get('max_imbalance_boys_girls_total', 3) }}" required><br>
        </div>
        <div class="form-group">

            <label for="max_imbalance_boys_girls_year">Maximale verschil jongens/meisjes nieuwe jaarlaag:</label>
            <input type="number" id="max_imbalance_boys_girls_year" name="max_imbalance_boys_girls_year" min="1"
                value="{{ session.get('config', {}).get('max_imbalance_boys_girls_year', 2) }}" required><br>
        </div>
        <div class="form-group">

            <label for="max_clique">Maximale groep vanuit eerdere groep:</label>
            <input type="number" id="max_clique" name="max_clique" min="1"
                value="{{ session.get('config', {}).get('max_clique', 4) }}" required><br>
        </div>
        <div class="form-group">

            <label for="max_clique_sex">Maximaal groep jongens/meisjes vanuit eerdere groep:</label>
            <input type="number" id="max_clique_sex" name="max_clique_sex" min="1"
                value="{{ session.get('config', {}).get('max_clique_sex', 3) }}" required><br>
        </div>
    </fieldset>
    <br>

    <div class="step-navigation">
        <a href="{{ url_for('fillin') }}" class="button previous-step">← Naar Invullen</a>
        <input type="submit" value="Bereken groepsindeling →" class="button next-step">
    </div>
</form>
<div class="instructions-box">
    Upload hier de bestanden en voeg toe hoe strak je de klassenbalans wil. Alle bestanden
    worden ook automatisch gecontroleerd of ze goed gevuld worden. Als er iets nog niet
    goed gaat, komt er een foutmelding
    <ul>
        <li> Controleer goed dat je het juiste bestand bij het juiste vakje uploadt</li>
        <li> Lees de foutmelding zorgvuldig en probeer het te verhelpen</li>
        <li> Wees niet te strict in de klassenbalans: hoe gebalanceerder die is, hoe minder
            ruimte er is om vrienden bij elkaar te doen, dus hoe minder tevreden de leerlingen zijn</li>
        <li> Het is heel goed mogelijk dat je eerste instelling nog niet tot een mogelijke groepsindelig leidt, omdat
            die
            klassenbalans niet haalbaar is met de leerlingen die overgaan. Lees dan goed in de foutmelding wat mogelijk
            wel
            haalbaar is. Of probeer een ruimere klassenbalans die wel acceptabel is voor jou, en kijk of het dan wel
            lukt.
        </li>
        <li> Tip: let vooral op de klassenbalans bij de nieuwe jaarlaag. Als je dat meerdere jaren
            gebalanceerd houdt, wordt de klassenbalans van de hele groep vanzelf ook goed. Je wilt
            voorkomen dat je gaat overcorrigeren en dan het jaar erna de balans de andere kant op verstoord hebt.</li>
        <li> De balans met maximale verschillen leidt er vooral toe of een groepsindeling wel
            of niet mogelijk is. De twee items over een maximaal toegestane groep vanuit een eerdere groep
            (om kliekjesvorming) te voorkomen hebben invloed op de tevredenheid: kliekjes maken
            de leerlingen zelf meestal tevreden. Als je tevredenheid nog te laag vindt, kijk eens
            wat er gebeurt als je hier meer ruimte geeft.
        </li>
    </ul>
</div>
{% endblock %}