{% extends "base.html" %}
{% set current_step = 1 %}
{% block content %}
<p> Upload een zogenaamd EDEXML-bestand.
  Deze kun je uit alle bekende leerlingadministratiesystemen downloaden. <a href="https://www.google.com/search?q=edexml+exporteren"
     target="_blank"
     rel="noopener noreferrer"
     aria-label="Zoek op Google: hoe uploaden EDEXML bestand invulformulieren leerlingadministratie">
    Zoek hoe je dat kunt doen (Google)
  </a>. Selecteer de versie 2.1. Er hoeven geen privacy-gevoelige gegevens te worden geexporteerd.
In het volgende scherm kun je dan controleren of het allemaal klopt.
</p>
<form method="post" enctype="multipart/form-data">
    <label for="edexml">EDEXML:</label><br>
    <input type="file" name="edexml" accept=".xml" required><br><br>
    {% if mode == "forward" %}
    <label for="jaargroep">Jaarlaag (huidig) die moet worden ingedeeld</label>
    <select name="jaargroep" required>
        {% for year in range(1, 9) %}
        <option value="{{ year }}">{{ year }}</option>
        {% endfor %}
    </select>
    {% elif mode == "redistribute_and_forward" %}
    <fieldset>
        <legend>Welke jaarlagen (huidig) deel je opnieuw in? (bijv. 5, 6 en 7)</legend>
        {% for year in range(1, 9) %}
        <label>
            <input type="checkbox" name="jaargroepen" value="{{ year }}">
            {{ year }}
        </label><br>
        {% endfor %}
    </fieldset>
    {% endif %}
    <button type="submit" class="button">
        {% if mode == "redistribute" %}Ga door naar groepskeuze{% else %}Selecteer leerlingen en groepen{% endif %}
    </button>
    <br><br>
    </form>
{% endblock %}
