{% extends "base.html" %}

{% block title %}ALI-Express{% endblock %}
{% block header %}Upload de input{% endblock %}

{% block content %}
<form method="post" enctype="multipart/form-data">
    <label>Voorkeuren en wensen van leerlingen:</label><br>
    <input type="file" name="preferences" accept=".xlsx" required><br><br>

    <label>Ontvangende groepen</label><br>
    <input type="file" name="groups_to" accept=".xlsx" required><br><br>

    <label>Niet samen</label><br>
    <input type="file" name="not_together" accept=".xlsx" required><br><br>

    <input type="submit" value="Verwerken">
</form>
{% endblock %}